@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root{
    --bgColor: #122834;
}
body{
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
}
#wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    background-color: var(--bgColor);
    overflow: hidden;
}
.controller{
    position: absolute;
    width: 235px;
    height: 342px;
    bottom: 0;
    right: 32px;
    background-image: url(images/controller_new-min.png);
    background-size: cover;
    overflow: hidden;
}
.btnWrapper{
    position: absolute;
    bottom: 0;
    width: 90%;
    margin: 5%;
    margin-bottom: 0;
    display: flex;
    height: 58px;
}
#selectText{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-top: 32px;
    color: #ffffff;
}
.controlBtn{
    flex-grow: 1;
    cursor: pointer;
    background-image: url(images/btn_car_hover-min.png);
    background-size: cover;
    background-position: center;
    transition: background-image 200ms ease-in-out 0s;
}
.controlBtn:hover{
    filter: hue-rotate(-25deg);
}
.controlBtn:nth-of-type(2){
    pointer-events: none;
    background-image: url(images/btn_present-min.png);
}
.controlBtn:nth-of-type(3){
    background-image: url(images/btn_reset_hover-min.png);
}
.controlBtn:nth-of-type(2).glow{
    pointer-events: all;
    background-image: url(images/btn_present_hover-min.png);
}
.btnWrapper button{
    flex-grow: 1;
    cursor: pointer;
}
.controller input[type=range]{
    position: absolute;
    top: 132px;
    left: 86px;
    width: 50px;
    opacity: 0;
    cursor: pointer;
    transform: translate(-1%,200%);
}
.controller input[type=range]::-webkit-slider-thumb{
    transform: scale(8.5);
}
.dots{
    position: absolute;
    width: 185px;
    height: 185px;
    left: 30px;
    top: 50px;
    transform: scale(0.9) translate(-1%,28%) rotate(-55deg);
    background-image: url(images/dots.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 300ms ease-in-out 0s;
}
#dotLights{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20px;
    left: 0;
    overflow: visible;
    background-image: url(images/dots_none-min.png);
    background-size: 96%;
    background-position: 30% 90%;
    background-repeat: no-repeat;
    transition: background-image 300ms linear 0s;
}
.btnDots{
    position: absolute;
    width: 100%;
    height: 85%;
    left: 5%;
    top: 5%;
    transform: scale(0.9) translate(-4.2%,10%);
    /* background-color: #ff000044; */
}
.btnDots .btns{
    position: absolute;
    width: 15%;
    height: 100%;
    top: 0;
    left: 42.5%;
    transform-origin: 50% 50%;
    /* background-color: #ff000044; */
}
.btns .actBtn{
    position: absolute;
    width: 100%;
    height: 15%;
    /* background-color: #ff000044; */
    cursor: pointer;
}
.btns .actBtn:nth-of-type(2){
    bottom: 0;
}
.actBtn:hover{
    opacity: .6;
}
.btnDots .btns:nth-of-type(2){
    transform: rotate(30deg);
}
.btnDots .btns:nth-of-type(3){
    transform: rotate(60deg);
}
.btnDots .btns:nth-of-type(4){
    transform: rotate(90deg);
}
.btnDots .btns:nth-of-type(5){
    transform: rotate(120deg);
}
.btnDots .btns:nth-of-type(6){
    transform: rotate(150deg);
}
.bg{
    background-image: url(images/bg-min.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.logos{
    position: absolute;
    width: 100%;
    height: 20%;
    top: 0;
    left: 0;
}
.logos::before{
    content: '';
    background-image: url(images/logoHarman.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 35%;
    width: 80%;
    top: 30%;
    left: 4%;
}
.logos::after{
    content: '';
    background-image: url(images/logoAWS.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    height: 25%;
    width: 10%;
    right: 4%;
    top: 40%;
}
.bg_hover{
    background-image: url(images/hover_00-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: background-image 300ms linear 0s;
}
.bg_hover video, #cardDiv video{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
#glassCard{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}
#blackDiv{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms linear;
}
#cardFlex{
    pointer-events: none;
    transform: translateY(110%);
    transition: transform 500ms ease-in-out 0s;
}
#cardDiv{
    position: absolute;
    width: 90%;
    aspect-ratio: 16 / 8;
    border-radius: 2.5vw;
    overflow: hidden;
    backdrop-filter: blur(0);
    backdrop-filter: blur(15px);
}
#cardDiv video{
    object-fit: contain;
}
#cardDiv #contentImg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0;
    transition: opacity 500ms linear 500ms;
}
.cardBTN{
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 104px;
    background-image: url(images/btn_exit-min.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: opacity 150ms linear 0s;
}
.cardBTN:hover{
    filter: brightness(200%);
}
.prevBTN{
    right: 59px;
    background-image: url(images/btn_prev-min.png);
}
.nextBTN{
    right: 14px;
    background-image: url(images/btn_next-min.png);
}
.disabled{
    pointer-events: none;
    opacity: 0.2;
}
body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content: url(images/dots_0-min.png) url(images/dots_1-min.png) url(images/dots_2-min.png) url(images/dots_3-min.png) url(images/dots_4-min.png) url(images/dots_5-min.png) url(images/dots_6-min.png) url(images/dots_7-min.png) url(images/dots_8-min.png) url(images/dots_none-min.png) url(images/hover_02-min.png) url(images/hover_03-min.png) url(images/hover_04-min.png) url(images/hover_05-min.png) url(images/hover_06-min.png) url(images/hover_07-min.png) url(images/hover_08-min.png) url(images/hover_09-min.png) url(images/vehicle_manage_01-min.png) url(images/vehicle_manage_02-min.png) url(images/vehicle_01-min.png) url(images/vehicle_02-min.png) url(images/vehicle_03-min.png) url(images/vehicle_04-min.png) url(images/vehicle_05-min.png) url(images/SW_01-min.png) url(images/SW_02-min.png) url(images/data_lake_01-min.png) url(images/campaign_01-min.png) url(images/campaign_02-min.png) url(images/campaign_03-min.png);
 }